.contract-tab {
    padding: 20px;
    border: 1px solid #c2bdbd;
    box-shadow: #b1b0b0;
    margin: 10px;
  }
  
  .input-field {
    margin: 10px 0;
  }
  
  .action1 {
    display: flex;
    width: fit-content;
    color: rgb(0, 0, 0);
    background-color: white;
  }
  
  
  